@page "{restaurantId:int?}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>EditPage @Model.Restaurant.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for=Restaurant.Name></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Address"></label>
        <input asp-for="Restaurant.Address" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Address"></span>

    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Cuisine"></label>
        <select class="form-control" asp-for="Restaurant.Cuisine"
                                    asp-items="Model.Cuisines"
                >
            
        </select>
    </div>
    <button type="submit" class="btn fa-save">Save</button>

</form>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}

